.pending-issue-list {
    width: 40%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 1rem
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
    padding: 1rem 1rem;
}

.card-heading{
    background: #a8c4dd;
    padding:0.5rem;
    border-radius: 0.5rem
}

.divider {
    background: #a8c4dd;
}

.msg-box{
    text-align: justify
}

span {
    padding: 0.3rem
}

.chip {
    border-radius: 10px;
}


@media only screen and (max-width : 768px){
  
    .pending-issue-list {
        width: 100%;
    }
    
  }
  
  @media only screen and (min-width : 768px) and (max-width : 1224px) {
  
    .pending-issue-list {
        width: 50%;
    }
  }