.pending-issue-list {
    width: 40%;
}

span {
    padding: 0.3rem
}

.chip {
    border-radius: 10px;
}


@media only screen and (max-width : 768px){
  
    .pending-issue-list {
        width: 100%;
    }
    
  }
  
  @media only screen and (min-width : 768px) and (max-width : 1224px) {
  
    .pending-issue-list {
        width: 50%;
    }
  }