
.dashboard {
    padding: 24px;
  }
  
  .dashboard-card-list {
  width: 100%;
  display: -ms-flexbox; /* IE10 */
  display: flex;     
  -ms-flex-wrap: wrap; /* IE10 */     
  flex-wrap: wrap;
  padding: 0 4px;
}

.dashboard-card-item {
  -ms-flex: 33.33%; /* IE10 */
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 1rem;
}

.dashboard-card-heading {
  background: #a8c4dd;
  padding:0.5rem;
  border-radius: 0.5rem;
  text-align: center
}


.ray-icon {
  background-image: url("../../../assets/Icon/estrella-render.svg");
}

.halo-icon {
  background-image: url("../../../assets/Icon/halo-render.svg");
}

.pentagram-icon {
  background-image: url("../../../assets/Icon/pentagram-render.svg");
}

.ray-icon,
.halo-icon,
.pentagram-icon {
  width: 14px;
  height: 14px;
  margin-bottom: 10px;
  fill: black;
}

@media only screen and (max-width : 576px) {
  .dashboard {
    padding: 12px;
  }

  .dashboard-card-list {
    padding: 0 2px
  }

  .dashboard-card-item {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
      padding: 0 0.5rem;
  }
}

@media only screen and (min-width : 576px) and (max-width : 768px) {

  .dashboard-card-item {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
  }
}

@media only screen and (min-width : 768px) and (max-width : 1224px) {

  .dashboard {
    padding: 12px;
  }

  .dashboard-card-list {
    padding: 0 2px
  }

  .dashboard-card-item {
      -ms-flex: 33.33%;
      flex: 33.33%;
      max-width: 33.33%;
      padding: 0 0.5rem;
  }
}