.product {
    flex-direction: row;
}

.versionTable {
    margin-bottom: 20px;
}

.container-left {
    width: 50%;
    padding: 0 2% 0 2%;
    align-self: flex-start
}

.container-right {
    width: 50%;
    padding: 0 2% 0 2%;
    align-self: flex-start
}

@media only screen and (max-width : 768px){
  
    .product {
        flex-direction: column;
    }

    .container-right,
    .container-left {
        width: 100%
    }
}
  