.shopping-card-content {
    width: 100%;
    display: flex;
    flex-direction: row
}

.shopping-card-image {
    width: 240px;
    height: 360px;
}

.shopping-card-img {
    width: 33.33%;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.shopping-card-detail {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.shopping-card-buy {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}

.know-more {
    cursor: pointer;
    color: #0044cc
}

.price {
    font-weight: bold;
    font-size: 1.9rem
}

@media only screen and (max-width : 768px) {
    .shopping-card-content {
        width: 100%;
        display: flex;
        flex-direction: column
    }

    .shopping-card-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .shopping-card-detail {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center
    }

    .shopping-card-buy {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center
    }
}

@media only screen and (min-width : 768px) and (max-width : 1224px) {
    
    .shopping-card-image {
        width: 180px;
        height: 300px;
    }

    .shopping-card-img {
        width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center
    }
    
    .shopping-card-detail {
        width: 33.33%;
        display: flex;
        flex-direction: center;
        justify-content: center;
    }
    
    .shopping-card-buy {
        width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center
    }
}