@import '~antd/dist/antd.css';
/* .App {
  text-align: center;
} */
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.logo {
  height: 31px;
  width: 120px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.sider {
  overflow:initial;
  height: 100vh; 
  position: fixed; 
  left: 0
}

.content-pull-right {
  margin-left: 200px;
  transition: 0.2s;
}

.content-pull-left {
  margin-left: 0;
  transition: 0.1s;
}

.dashboard {
  padding: 24px;
  background: #fff
}



@media only screen and (max-width: 992px)  {

  
  
}