@import '~antd/dist/antd.css';
/* .App {
  text-align: center;
} */
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.logo {
  height: 40px;
  margin: 12px
}

.sider {
  overflow:initial;
  height: 100vh; 
  position: fixed; 
  left: 0
}

.content-pull-right {
  margin-left: 200px;
  transition: 0.2s;
  height: 100%;
}

.content-pull-left {
  margin-left: 0;
  transition: 0.1s;
  height: 100%
}


.dashboard {
  padding: 24px;
  background: #fff
}

.heading {
  text-align: center;
  padding: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh
}

.login-box {
  width: 50%;
  padding: 5%;
  background: #fff
}

.form-control {
  padding: 1rem
}

label {
  color: black;
  font-weight: bolder
}

.inputField-outline {
  border: 1px solid red;
  outline: 0 none;
  border-radius: 0.25rem
}

.star {
  text-align: center;
  color: red;
  padding: 0.2rem
}

.login-button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center
}

.login-group {
  width: 50%;
  padding: 1rem;
  text-align: center
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column
}

.issue-form {
  width: 40%
}

.issue-form-button {
  padding: 1rem
}

.chat-left {
  width: 55%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  float: left;
}

.chat-right {
  width: 55%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  float: right;
  border: 1px solid bla
}

@media only screen and (max-width : 768px){
  
  .login-box {
    width: 100%
  }
   
  .login-button-group {
    flex-direction: column
  }

  .login-group {
    width: 100%;
  }

  .issue-form {
    width: 100%
  }

  .chat-left {
    width: 100%
  }

  .chat-right {
    width: 100%
  }
  
}

@media only screen and (min-width : 768px) and (max-width : 1224px) {

  .login-box {
    width: 70%
  }

  .issue-form {
    width: 50%
  }

  .chat-left {
    width: 100%
  }

  .chat-right {
    width: 100%
  }

}